/* Global -colors */
$primary-color: #F15A22;
$secondary-color: #0078B7;

$white-color: #fff;
$lightwhite-color: #E6E6E6;
$black-color: #222;
$lightblack-color: #39414A;

$darygrey-color: #707070;
$lightgrey-color: #D8D8D8;
$desertgray-color: #F8F8F8;

$succesgreen-color: #45A601;
$erorred-color: #C91F00;
$warningyellow-color: #FAA21B;

$navy-color: #0A1A5C;
$orange-color: #CE410D;
$gold-color: #C27300;
$aliceblue-color: #EFFAFF;

/* Buttons*/
$button-tertiary-color: #0078B7;
$button-font:bold;
$button-fontlineht: 2.1rem;
$button-fontfamily: 'bariol_boldbold, Arial, sans-serif';
$button-fontsize:  1.867rem;
$button-font: normal normal bold 1.867rem/2.1rem bariol_boldbold, Arial, sans-serif;
$button-borderradius: 2.8rem;
$button-ovalpadding: 1.7rem 4rem;


/* Fonts */
$h1-font: normal normal normal 3.2rem/4.8rem bariol_boldbold, Bariol, sans-serif;
$h1-font-t: normal normal normal 3.6rem/6.4rem bariol_boldbold, Bariol, sans-serif;
$h1-font-d: normal normal normal 4.2rem/6.4rem bariol_boldbold, Bariol, sans-serif;

$h2-font: normal normal normal 2.8rem/5.6rem bariol_boldbold, Bariol, sans-serif;
$h2-font-t: normal normal normal 3.2rem/5.6rem bariol_boldbold, Bariol, sans-serif;
$h2-font-d: normal normal normal 3.6rem/5.6rem bariol_boldbold, Bariol, sans-serif;

$h3-font: normal normal normal 2.2rem/4.8rem bariol_boldbold, Bariol, sans-serif;
$h3-font-t: normal normal normal 2.6rem/4.8rem bariol_boldbold, Bariol, sans-serif;
$h3-font-d: normal normal normal 2.8rem/4.8rem bariol_boldbold, Bariol, sans-serif;

$h4-font: normal normal normal 2rem/4rem bariol_boldbold, Arial, sans-serif;
$h4-font-t: normal normal normal 2.4rem/4rem bariol_boldbold, Arial, sans-serif;
$h4-font-d: normal normal normal 2.6rem/4rem bariol_boldbold, Arial, sans-serif;

$h5-font: normal normal normal 1.8rem/4rem bariol_boldbold, Arial, sans-serif;
$h5-font-t: normal normal normal 2.2rem/4rem bariol_boldbold, Arial, sans-serif;
$h5-font-d: normal normal normal 2.2rem/4rem bariol_boldbold, Arial, sans-serif;


$h6-font: normal normal normal 1.6rem/3.2rem bariol_boldbold, Arial, sans-serif;
$h6-font-t: normal normal normal 2rem/3.2rem bariol_boldbold, Arial, sans-serif;
$h6-font-d: normal normal normal 2rem/3.2rem bariol_boldbold, Arial, sans-serif;

/*label*/
$label-font-xl: normal normal bold 2rem/2.4rem bariol_boldbold, Bariol, sans-serif;
$label-font-m: normal normal bold 1.6rem/2.4rem bariol_boldbold, Bariol, sans-serif;
$label-font-xs: normal normal bold 1.4rem/2.4rem bariol_boldbold, Bariol, sans-serif;

/*subtitle*/
$subtitle-font-xl: normal normal bold 1.8rem/2.4rem bariol_boldbold, Arial, sans-serif;
$subtitle-font-m: normal normal bold 1.4rem/2.4rem bariol_boldbold, Arial, sans-serif;
$subtitle-font-m-t: normal normal bold 1.4rem/2.4rem bariol_boldbold, Arial, sans-serif;
$subtitle-font-m-d: normal normal bold 1.6rem/2.4rem bariol_boldbold, Arial, sans-serif;
$subtitle-font-xs: normal normal bold 1.4rem/2.4rem bariol_boldbold, Arial, sans-serif;


/*controls*/
$color_1: #0E0E0E;
$font-family_1: Arial;